body{
    color: #0f0;
    background-color: #111;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.tela_usuarios .usuario{
    background-color: #222;
    transition: 0.3s;

}

.tela_usuarios .usuario:hover{
    background-color: #333;
}

.tela_usuarios .usuario:active{
    background-color: #555;
}


.tela_chat{
    background-color: #001;
    border-radius: 10px 0px 0px 0px;
}




.tela_chat .chat_mensagem:hover{
    background-color: #222;
    margin-left: 20px;
}